.thermostat {
  position: relative;
  display: block;
  margin: auto;
  height: 50px;
  text-align: center;
}

.buttons {
  margin: auto;
  width: 400px;
  height: 50px;
  display: block;
  text-align: center;
}

.powerSaving {
  margin: auto;
  width: 400px;
  height: 50px;
  display: block;
  text-align: center;
}

.low {
  color: blue;
}

.medium {
  color: green;
}

.high {
  color: red;
}
